.button-female {
  background-color: pink;
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border: palevioletred;
  border-radius: 4px;
}

.button-male {
  background-color: lightskyblue;
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border: steelblue;
  border-radius: 4px;
}

h1 {
  color: black;
  font-size: 40px;
}
